# Force npm to ignore peer dependency conflicts
legacy-peer-deps=true
force=true
engine-strict=false

# Force public registry and disable auth check
registry=https://registry.npmjs.org/
always-auth=false
strict-ssl=false
